<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Year</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css', v='1.0') }}">
    <script src="{{ url_for('static', filename='js/index.js') }}" defer></script>

</head>


<body>

    <div class="container">

        <h1>Generate Heat Map</h1>

        <form action="/generate_heatmap" method="POST">
            <p>Select a Year:</p>
            <div class="year-buttons">
                {% for year in years %}
                <button type="submit" name="year" value="{{ year }}">{{ year }}</button>
                {% endfor %}
            </div>
        </form>

        <div> <a href="/train_model" class="train-button">Train Model</a> </div>

        <div> <a href="/generate_prediction" class="train-button">Generate Prediction Data</a> </div>

        <div> <a href="/download" class="train-button">Download Training Data File</a> </div>

        <div> <button onclick="resetDataset()" class="train-button" >Reset Dataset</button> </div>

    </div>


</body>
</html>
