<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heat Map for {{ year }}</title>

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css', v='1.0') }}">

    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/leaflet.heat/dist/leaflet-heat.js"></script>
    <script src="{{ url_for('static', filename='js/map.js') }}" defer></script>
</head>
<body>
    <div class="containerMap">
        <h3>Heat Map for {{ year }}</h3>
        <a href="/" class="back-button">← Back to Select Year</a>
        <div class="map-data-container">
            <div id="map" data-year="{{ year }}"></div>
            <div id="output">
                <h2>Nearest Data:</h2>
                <p>No data selected yet. Click on the map to fetch data.</p>
            </div>
        </div>
    </div>
</body>
</html>
